<div class="container">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-12">
            <a class="link"  mat-raised-button [routerLink]="'/system/catalog'">Back to catalog</a>
            <div *ngIf="canLoad">
              <p>Name: {{post.name}}</p>
              <p>Color: {{post.color}}</p>
              <p>Price: {{post.price}}</p>
              <p>Description: {{post.description}}</p>
            </div>
          </div>

        <div class="col-md-1">
          <button mat-raised-button  (click)="openDialog(post)" color="accent">Edit</button>
        </div>

        <div class="col-md-2">
          <button (click)="openDialogDelete(post)"  mat-raised-button color="warn">Delete</button>
        </div>
      </div>
  </div>
</div>
