form mat-form-field{
    display: block;
}
mat-icon{
    cursor: pointer;
}
.agree-wrapp{
    margin: 15px 0;
}
.agree-wrapp a{
    display: inline-block;
    margin-left: 15px;
}
.agree-wrapp span{
    color: red;
    font-size: 12px;
    display: block;
    margin-left: 40px;
}