
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <ul>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
              <li routerLinkActive="active"><a routerLink="/system" (click)="openSnackBar()">System</a></li>
            </ul>
          </div>
          <div class="col">
            <ul  *ngIf="!auth.isLoggedIn" class="text-right">
              <li routerLinkActive="active"><a routerLink="/auth/login">Sign In</a></li>
              <li routerLinkActive="active"><a routerLink="/auth/registration">Sign Up</a></li>
            </ul>

            <div  *ngIf="auth.isLoggedIn" class="logOut text-right" (click)="onLogout()">
              Log Out
            </div>
          </div>
        </div>
      </div>
</mat-toolbar-row>
</mat-toolbar>

