.wrapper{
    margin-top: 60px;
}
.example-form{
    margin-top: 50px;
}

.content-wrapper{
    margin: 100px 0;
}
.wrapper span{
    font-weight: bold;
}
.add-form button{
    display: block;
    margin-top: 25px;
}